accelerate >= 0.32.1
basicsr
diffusers >= 0.29.2
ninja
numpy
pillow
pyyaml
realesrgan
requests
torch >= 2.3.1
torchvision >= 0.18.1
transformers
xformers >= 0.0.27
wheel

# Install Optimum to stable diffusion onnx runtime for non-NVIDIA accelrator
optimum[onnxruntime]       # for CPU
optimum[onnxruntime-gpu]   # for NVIDIA GPU with CUDA/TensorRT
optimum[openvino]          # for Intel OpenVINO platform
optimum[amd]               # for AMD NPU
optimum[ipex]              # for Intel GPU
